.pni-input-login {
  border: none !important;
  padding: 10px 5px !important;
  &:focus {
    border: none !important;
    box-shadow: none !important;
  }
  ::placeholder {
    color: #777e90;
    
  }
}
.pni-input-password {
  .ant-input-affix-wrapper:focus,
  .ant-input-affix-wrapper-focused {
    border: none !important;
    box-shadow: none !important;
    border-bottom: 2px solid #000 !important;
  }
}

input[type="password"]
{
  -webkit-text-security: disc;
}
.MuiFormControlLabel-label {
  color: #333433;
}

.hide-placeholder {
  .MuiInputBase-root:not(.Mui-focused) {
    .MuiInputBase-input {
      color: transparent;
    }
  }
}